<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact-Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-title title="Hello World" style="margin-bottom: 20px;">
        <ng-container *appSubtitle>
            Salut la!
        </ng-container>
    </app-title>


    <h2>{{ currentDate | date:'medium' | lowercase | titlecase | spaces }}</h2>

    <h2>{{ counter }}</h2>
    <ion-button color="primary" (click)="add()">Add</ion-button>
</ion-content>

